<h1>Administer assignments</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Owner</th>
      <th>Target</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <% @assignments.each do |ass| %>
      <tr>
        <td><%= link_to Player.find(ass.player_id).name, edit_assignment_path(ass) %></td>
        <td><%= ass.target %></td>
        <td><%= ass.status %></td>
      </tr>
    <% end %>
  </tbody>
</table>
