<p>You have been banned from the Open Source Assassination Organization. You will no longer be able to log into central. You will no longer be included in any rounds.
<br><br>
Please contact an administrator if you find this is incorrect.</p><br>

<%= render 'signature' %>
