<p>You have been banned from the Open Source Assassination Society. You will no longer be able to log into central. You will no longer be included in any rounds.
<br><br>
The reasoning for your ban is below:
<br>
<%= raw(@reason) %>
<br>
Please contact an administrator if you find this is incorrect.</p>

<%= render 'signature' %>
