<h3>Just one more step until you can join the game!</h3>
<p>
Confirm your email address to let us know you aren't some crazy fucking robot using real guns and shit. Click the link below to confirm your email address:
</p>
<p>
<a href="http://assassination-gssos.itos.redhat.com/confirm/<%= @player.confirmation_code %>">http://assassination-gssos.itos.redhat.com/confirm/<%= @player.confirmation_code %></a>
</p>
<p>
Thank you for your interest!
</p>
<p>
Central<br>
OpenSource Assasination Organization
</p>
</ hr>
If this email looks weird and crazy like its nothing you've signed up for, ignore it please.
