<h3>Just one more step!</h3>
<p>
Confirm your email address below to ensure that you can get emails from us and that you are not some malicious robot that will destroy us all. Click the link below to confirm your email address:
</p>
<p>
<a href="http://assassination-gssos.itos.redhat.com/confirm/<%= @player.confirmation_code %>">http://assassination-gssos.itos.redhat.com/confirm/<%= @player.confirmation_code %></a>
</p>
<p>
Thank you for your interest!
</p>
<p>
Central<br>
OpenSource Assasination Organization
</p>
</ hr>
If this email looks weird and crazy like its nothing you've signed up for, ignore it please.
