<%= render 'banner' %>
<h3>Round <%= @round.id %> has ended.</h3>
<p>The winner was determined to be <%= @winner.name %><br>
<br>
Stay tuned, the next round will begin soon!</p><br>
<%= render 'signature' %>
