<div>
  <span style="font-size: xx-large;">
    <strong>OSAS Bulletin&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <br></strong>
  </span>
</div>
<hr>
Round <%= @round.id %> is underway.
<br><br>
Below is your new target:
<br><br>
Target: <%= @player.assignment.target %>
<br><br>
- Zero
