<%= render 'banner' %>
<h3>Round <%= @round.id %> has ended.</h3>
<p>A winner has yet to be determined, but should be announced shortly</p>
<br>
Stay tuned, the next round will begin soon!</p><br>
<%= render 'signature' %>
