<%= render 'banner' %>
<p>Your ban from the Open Source Assassination Society has been repealed.
<br><br>
You will now be able to join the game again. 
<br><br>
Please contact an administrator if you find this is incorrect.</p><br>

<%= render 'signature' %>
