<div>
  <span style="font-size: xx-large;">
    <strong>Welcome to OSAS!&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <br></strong>
  </span>
</div>
<hr>
<p>Welcome to the Open Source Assassination Society!<br><br>
Attached to this email is the assassin's handbook. Please be sure to read over it as you will be expected to follow the rules and guidelines within it.<br><br>
If you have any questions, feel free to join us on our irc channel #nerfed on irc.devel.redhat.com.</p><br>

<%= render 'signature' %>
