<h1>About <%= CONFIG[:project_name] %></h1>
<br>
<div class="well">
<%= raw(@contents) %>
<div class="well well-small">
<h4 align="center" style="color: @FF0000;">If you break the rules, you will be removed from the game</h4>
</div>
</div>

