<ul class="nav nav-tabs">
  <li class="active"><a href="#news" data-toggle="tab">News</a></li>
  <li><a href="#feed" data-toggle="tab">Kill-Feed</a></li>
  <li><a href="#report" data-toggle="tab">Report a Kill</a></li>
</ul>
<div class="tab-content">
  <div class="tab-pane active" id="news">
    <%= render 'news' %>
  </div>
  <div class="tab-pane" id="feed">
    <%= render 'feed' %>
  </div>
  <div class="tab-pane" id="report">
    <%= render 'report' %>
  </div>
</div>
