<h1><%= CONFIG[:project_name] %> Handbook</h1>
<p class="lead">
  The <%= CONFIG[:project_name] %> Handbook contains important rules and conduct that all players should follow.
</p>
<br>
<div class="well">
<p>
<h4>Summary</h4>
<h6>Assassination is a live action game of mock assassination for a large number of players.</h6> The object of the game is to track down and eliminate the other players using a variety of harmless methods in accordance with the following rules, while trying to avoid elimination yourself. The game is played for the enjoyment of everyone involved.<br><br>

  This document is intended to be a comprehensive guide for both playing and running `Assassination Rounds' for the OSAS (Open Source Assassination Society) game at the Red Hat Tower; and to be used as a reference for other branches creating their own house rules. This is a work in progress. If you find a mistake in here please report it to the author.<br><br>

  If you have any questions about these rules, then once you have read them thoroughly, please ask for clarification from Central, who will be only too happy to provide it.<br><br>
</p>
<p class="text-center">
<%= link_to "Download the Handbook", '/The_Assassins_Guide.odt', :class => "btn btn-large btn-primary btn-custom" %>
</p>
</p><br>
<div class="well well-small">
<h4 align="center" style="color: @FF0000;">If you break the rules, you will be removed from the game</h4>
</div>
</div>
<% if not admin? %>
  <div class="fixed-bottom span2 offset12">
    <p><%= link_to 'Login', new_session_path, :class => "hidden-link" %></p>
  </div>
<% end %>

