<div class="row">
  <div class="hero-unit" style="word-wrap:break-word; height: 280px">
    <div class="span6">
      <h1><%= CONFIG[:project_name] %> </h1><h3>(The Game)</h3><br>
      <p class="lead">
        Register now to be part of the game!
      </p>
      <p>
        <a class="btn btn-large btn-primary btn-custom" href="/players/new">Register &raquo;</a>
      </p>
    </div>
    <div class="span4">
      <%= image_tag 'nerf-guns.jpg' %>
    </div>
  </div>
</div>
<div class="row">
  <div class="span3">
    <h3>About the game</h3>
    <hr />
    <p>
      Assasination is a non-violent social elimination game meant to be played by a large group. It involves using nerf guns to "take out" assigned elimination targets. The last person standing wins.
    </p>
    <a class="btn btn-custom" href="/welcome/about">Learn more &raquo;</a>
  </div><div class="span1"></div>
  <div class="span3">
    <h3>Get the handbook</h3>
    <hr />
    <p>
      The handbook contains all the information you need to know before playing the game. All of the rules, code of conduct, and legal mumbo jumbo needed for us to avoid any liability.
    </p>
    <a class="btn btn-custom" href="/welcome/handbook">Handbook &raquo;</a>
  </div><div class="span1"></div>
  <div class="span3">
    <h3>Administrative tasks</h3>
    <hr />
    <p>
      Login as the administrator to administer players. Players will soon be able to log in themselves. This is just filler text lol. Just needed a login button somewhere.<br><br>
    </p>
    <a class="btn btn-custom" href="/sessions/new">Login &raquo;</a>
  </div>
</div>
  
  
