<div class="row">
  <div class="jumbotron" style="word-wrap:break-word">
    <div class="container">
      <div class="col-md-6">
        <h1><b><%= CONFIG[:project_name] %></b></h1><h3>(The Game)</h3><br>
        <p class="lead">
          Register now to be part of the game!
        </p>
        <p>
          <a class="btn btn-large btn-primary btn-custom" href="/players/new">Register &raquo;</a>
        </p>
      </div>
      <div class="col-md-2">
      </div>
      <div class="col-md-4">
        <%= image_tag 'nerf-guns.jpg', :class => "img-rounded img-responsive"%>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <h3>About the game</h3>
    <hr />
    <p>
      Assasination is a non-violent social elimination game meant to be played by a large group. It involves using nerf guns to "take out" assigned elimination targets. The last person standing wins.
    </p>
    <a class="btn btn-custom" href="/welcome/about">Learn more &raquo;</a>
  </div>
  <div class="col-md-4">
    <h3>Get the handbook</h3>
    <hr />
    <p>
      The handbook contains all the information you need to know before playing the game. All of the rules, code of conduct, and legal mumbo jumbo needed for us to avoid any liability.
    </p>
    <a class="btn btn-custom" href="/welcome/handbook">Handbook &raquo;</a>
  </div>
  <div class="col-md-4">
    <h3>View the feed</h3>
    <hr />
    <p>
      Whenever a player is killed, the feed is updated with that information. Visit the feed to keep up to date with the game and who is close to victory!<br><br>
    </p>
    <a class="btn btn-custom btn-disabled" href="#" disabled>Feed &raquo;</a>
  </div>
</div>
  
  
