<div class="hero-unit" style="word-wrap:break-word">
<h1><%= CONFIG[:project_name] %> </h1><h3>(The Game)</h3><br>
<p class="lead">
Register now to be part of the game!
<p>
<a class="btn btn-large btn-primary btn-custom" href="/players/new">Register &raquo;</a>
</p>
</div>
