<h1>Change your password</h1>
<div class="well">
  <%= form_for @player do |f| %>
    <%= f.label 'New Password' %>
      <%= f.password_field :password %>
    <br><br>
    <%= f.submit 'Change Password', :method => 'update', :class => "btn btn-custom" %>
  <% end %>
</div>
