<h1>Welcome to the game!</h1>
<h3>Just one more step!</h3>
<p class="lead">
An email has been sent to <%= @player.email %> with a link. All you need to do is click the link and your account will be confirmed. We do this because:<br>
<ol>
<li>Any typos in the email address will be caught.</li>
<li>You fancy hackers are less likely to make a bot for some reason.</li>
<li>We want to be sure you can receive email from us, as that is how you will receive game updates.</li>
</ol>
</ hr>
<h4>If you have not received the email after 5-10 minutes, click the button below to re-send:</h4>
<button class="btn btn-custom" >Re-send email</button>
